header {
  background-image: url("../imgs/miami.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}

nav ul.navi {
  margin-top: 0;
}

#blog-it h1 {
  color: #fff;
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 5em;
  margin-top: -20%;
  margin-bottom: 10%;
}

#main-links {
  float: left;
  padding-left: 200px;
  padding-top: 80px;

}

#main-links h2 {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: #34b7a9;
  padding-top: 5px;
}


#main-links h3 {
  font-family: 'Lato', sans-serif;
  margin-top: -30px;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

#main-links a {
  padding-bottom: 0;
  text-decoration: none;
  color: #000;
  margin: 0px;
  padding: 5px;
}

#main-links a h2:hover {
  transition: color 0.5s ease;
  text-decoration: underline;
  color: #7a7a7a;
}

/*TWITTER*/
#twitter {
  float: right;
  margin-right: 180px;
  margin-top: 100px;
  width: 30%;
}



footer {
  padding-top: 150px;
}

footer img {
  width: 50px;
}

/*.footer-text {
  padding-bottom: 20px;
  font-size: 12px;
}*/

/*INDIVIDUAL BLOGS*/

#main-text {
  float: left;
  margin: 100px;
  width: 700px;

}

code {
  color: #34b7a9;
  background: ;
}

#main-text p {
font-family: 'Lato', sans-serif;
font-weight: 300;

}

#main-text h1 {
  text-decoration: none;
  color: #34b7a9;
}

#main-text h2 {
  margin-top: -10px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-size: 1em;
}

#main-text img {
  text-align: center;
  padding: 10px;
}

/*SIDE LINKS*/

#side-links {
  float: right;
  margin-top: 175px;
  padding-right: 70px;
}

#side-links ul.side {
  list-style: none;
  padding: 0px;
}

#side-links ul.side li {
  padding-bottom: 10px;
}

#side-links ul.side li a {
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  color: #000;
}

#side-links ul.side li a:hover {
  transition: color 0.5s ease;
  color: #34b7a9;
}


footer {
  margin-top: 200px;
}


#soc-links {
  float: right;
  margin-right: 22%;
  padding-top: 20px;
}

#soc-links img {
  width: 40px;
  padding: 5px;
}


a {
  color: #ff80bf;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}




