
#blog-entries {
  clear: both;
  font-family: 'Rubik', sans-serif;
}

.blog-entry h1{
  margin-left: 200px;
   font-family: 'Rubik', sans-serif;
  font-size: 2em;
  clear: both;
  color: #00cccc;
  font-weight: 800;
}

.main-text {
  display: left;
  padding-right: 600px;
  margin-left: 200px;
  margin-top: -20px;
  color: #fff;

}

h2 {
  clear: both;
  margin-left: 200px;
  padding-top: 0;
  color: #fff;
}

.social-elements {
  clear: both;
  font-family: 'Rubik', sans-serif;
  margin-top: 50px;
}

.side-links {
  float: right;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5em;
  color: #00cccc;
  display: inline-block;
  margin-right: 250px;
  margin-top: -300px;


}
.side-links a {
  color: #00cccc;
  text-decoration: none;
}

.side-links a:hover {
  color: #fff;
  }