#main-links {
  text-align: center;
}

#main-links h2 {
  font-family: 'ABeeZee', sans-serif;
  text-decoration: none;
  color: #34b7a9;
  padding-top: 10px;
}

#main-links h3 {
  font-family: 'ABeeZee', sans-serif;
  margin-top: -15px;
}

#main-links a {
  font-family: 'ABeeZee', sans-serif;
  padding-bottom: 0;
  text-decoration: none;
  color: #000;
  margin: 0px;
  padding: 5px;
}

.footer-text {
  padding-bottom: 20px;
  font-size: 12px;
}