header {
  background-image: url("../imgs/miami.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
}

#blog-it h1 {
  color: #fff;
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 5em;
  margin-top: -20%;
  margin-bottom: 10%;
}

#main-links {
  margin-top: 15%;
  text-align: center;
}

#main-links h2 {
  font-family: 'ABeeZee', sans-serif;
  text-decoration: none;
  color: #34b7a9;
  padding-top: 5px;
}


#main-links h3 {
  font-family: 'Playball', cursive;
  margin-top: -30px;
  font-size: 1.3em;
}

#main-links a {
  font-family: 'Playball', cursive;
  padding-bottom: 0;
  text-decoration: none;
  color: #000;
  margin: 0px;
  padding: 5px;
}

.footer-text {
  padding-bottom: 20px;
  font-size: 12px;
}

/*INDIVIDUAL BLOGS*/

#main-text {
  margin-left: 5%;
  padding-top: 5%;
  width: 700px;

}

#main-text p {
font-family: 'Open Sans', sans-serif;

}

#main-text h1 {
  text-decoration: none;
  color: #34b7a9;
  padding-top: 20px;
}

#main-text h2 {
  font-family: 'Playball', cursive;
  text-decoration: none;
  color: #000;
  font-size: 1.2em;
}

#main-text img {
  text-align: center;
  padding: 10px;
}