/*HEADER*/

header {
  background-image: url("../imgs/palm-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 670px;
  padding-top: 1.8em;
/*  padding-bottom: 0*/
}

/*NAVIGATION*/

header nav h1 {
  font-family: 'ABeeZee', sans-serif;
  float: left;
  color: #fff;
  font-size: 3em;
  padding-left: 8%;
}

nav ul.navi {
  float: right;
  padding-right: 8%;
}

nav ul.navi li {
  list-style: none;
  padding-right: 25px;
  padding-top: 10%;
  display: inline-block;
}

nav ul.navi  li a {
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul.navi li a:hover {
  transition: color 0.5s ease;
  color: #34b7a9;
}

nav ul.navi li a.selected {
  color: #34b7a9;
}

/*GREETING DIV*/

#greeting {
  text-align: center;
  background-color: ;
  color: #34b7a9;
}

#greeting h1 {
  font-family: 'Playball', cursive;
  font-size: 3em;
  padding: 15px;
}

/*ABOUT*/

#about aside img {
  width: 25%;
  margin-left: 15%;
  border-radius: 25px;
}

#about .main-text {
  width: 40%;
  position: absolute;
  top: 115%;
  right: 15%;
}

#about p {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

/*IMG DIV*/

#img {
  margin-top: 10%;
  background-image: url("../imgs/palmy.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 350px;
}

#img h1 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2.5em;
  padding: 10%;
}

/*CONTACT*/

#contact p {
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 2.2em;
  color: #34b7a9;

}


#contact-form {
  text-align: center;
}


/*FOOTER*/

footer {
  margin-top: 50px;
  text-align: center;
  clear: both;
  padding-top: 0;
  padding-bottom: 0;
}

footer img {
  width: 55px;
  padding: 15px;
  margin-bottom: 0;
}


.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #909090;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 10px;
}