/*HEADER*/

header {
  background-image: url("../imgs/palm-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 680px;
  padding-top: 1.8em;
/*  padding-bottom: 0*/
}

/*NAVIGATION*/

header nav h1 {
  font-family: 'ABeeZee', sans-serif;
  float: left;
  color: #fff;
  font-size: 3em;
  padding-left: 8%;
}

nav {
  background-color: none;
}

nav ul.navi {
  float: right;
  padding-right: 8%;
  margin-top: -15px;
}

nav ul.navi li {
  list-style: none;
  padding-right: 25px;
  padding-top: 10%;
  display: inline-block;
}

nav ul.navi  li a {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul.navi li a:hover {
  transition: color 0.5s ease;
  color: #34b7a9;
}

nav ul.navi li a.selected {
  color: #34b7a9;
}

/*GREETING DIV*/

/*#greeting {
  text-align: center;
  background-color: ;
  color: #34b7a9;
}*/

/*#greeting h1 {
  font-family: 'Playball', cursive;
  font-size: 3em;
  padding: 15px;*/
}

/*ABOUT*/
#about {
  height: 600px;
  width: 100%;
  margin-bottom: 0;
}

#about h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}

/*HORIZONTAL DIV*/

#about #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
}

#about p {
  padding-top: 20px;
  text-align: center;
  color: #7a7a7a;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-bottom: 150px;
  margin: 0 auto;
  width: 850px;
}

/*PROJECTS DIV*/

/*CONTACT DIV*/

#projects {
  margin-top: 50px;
  height: 700px;
  background-color: #f0f0f0;
}

#projects h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}

/*HORIZONTAL DIV*/

#projects #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
}

/*PROJECT IMGS*/
#projects #project-imgs {
  text-align: center;
}

#projects #project-imgs img {
  /*width: 420px;*/
  width: 32%;
  margin: 0 auto;
  padding-top: 100px;
  padding-right: 10px;
}

#contact {
  background-image: url("../imgs/palmy.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#contact h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 120px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
  color: #fff;
}

#contact #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
}

/*CONTACT*/

/*#collab p {
  padding-top: 30px;
  text-align: center;
  font-family: 'Playball', cursive;
  font-size: 2.2em;
  color: #34b7a9;

}*/

/*CONTACT FORM*/

#contact-form {
  width: 660px;
  padding-top: 50px;
  text-align: center;
  margin: 0 auto;
}

#contact-form .submit-button {
    font-family: 'Playball', cursive;
    font-size: 22px;
    background-color: #34b7a9;
    color: #fff;
    width: 120px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px;
}


/*FOOTER*/

footer {
  margin-top: 30px;
  text-align: center;
  clear: both;
  padding-top: 0;
  padding-bottom: 0;
}

footer img {
  width: 80px;
  padding: 15px;
  margin-bottom: 0;
}


.footer-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  padding-top: 20px;
  margin-bottom: 10px;
}

.footer-text span {
  color: #ff80bf;
}