/*HEADER*/

header {
  background-image: url("../imgs/palm-small.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
  padding-top: 1.8em;
}

/*NAVIGATION*/

header nav a h1 {
  font-family: 'ABeeZee', sans-serif;
  float: left;
  color: #fff;
  font-size: 3em;
  padding-left: 8%;
}

header nav a h1:hover {
  transition: color 0.5s ease;
  color: #34b7a9;
}

#dot {
  color: #34b7a9;
}

.dot-color {
  transition: color 0.5s ease;
  color: #fff !important;
}

nav {
  background-color: none;
}

nav ul.navi  li a.active {
  color: #34b7a9;
}

.toColor {
    transition: background-color 1s;
    background-color: #000;
    height: 100px;
}

.backColor {
  transition: background-color 0.5s;
  background-color: rgba(255,255,255,0);
}

.trans {
  transition: color 0.5s ease;
  color: #34b7a9;
}

#stop {
  background-color: #f0f0f0;
  width: 100%;
  height: 100px;
}

nav ul.navi {
  float: right;
  padding-right: 8%;
  margin-top: -15px;
}

nav ul.navi li {
  list-style: none;
  padding-right: 25px;
  padding-top: 10%;
  display: inline-block;
}

nav ul.navi  li a {
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul.navi li a:hover {
  transition: color 0.5s ease;
  color: #34b7a9;
}

nav ul.navi li a.selected {
  color: #34b7a9;
}


/*ABOUT*/

#about {
  height: 600px;
  width: 100%;
  margin-bottom: 0;
}

#about h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}

/*HORIZONTAL DIV*/

#about #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
}

#about p {
  padding-top: 50px;
  text-align: center;
  color: #7a7a7a;
  font-size: 1.5em;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding-bottom: 150px;
  margin: 0 auto;
  width: 70%;
}

/*PROJECTS DIV*/

#projects {
  margin-top: 50px;
  height: 600px;
  background-color: #f0f0f0;
/*  box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.1)
*/}

#projects h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 150px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}

/*HORIZONTAL DIV*/

#projects #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}

/*PROJECT IMGS*/
#projects #project-imgs {
  text-align: center;
}

#projects #project-imgs img {
  /*width: 420px;*/
  width: 100%;
  height: 80%;
  margin: 0 auto;
 /* padding-right: 10px;*/

}

.project {
  display: inline-block;
  margin: 0 auto;
  width: 30%;
}


/*CONTACT*/

#contact {
  background-image: url("../imgs/palmy.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 610px;
  width: 100%;
}

#contact h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  padding-top: 130px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
  color: #fff;
}

#contact #line {
  height: 2px;
  background: #34b7a9;
  width: 100px;
  border: 0;
  margin: 0 auto;
  margin-bottom: 50px;
}


/*CONTACT FORM*/

#contact-form {
  width: 660px;
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
}

#contact-form .submit-button {
  font-family: 'Playball', cursive;
  font-size: 22px;
  background-color: #34b7a9;
  color: #fff;
  width: 120px;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}


/*FOOTER*/

footer {
  margin-top: 30px;
  text-align: center;
  clear: both;
  padding-top: 0;
  padding-bottom: 0;
}

footer img {
  width: 60px;
  padding: 12px;
  margin-bottom: 0;
}


.footer-text {
  font-family: 'Lato', sans-serif;  font-size: 14px;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 13px;
}

.footer-text span {
  color: #ff80bf;
}


.fa {
  padding: 20px;
}

/*.fa:hover  {
  transition: color 0.5s ease;
  color: white;
}*/

.mail {
  color: #ff4d4d;
}

.linkedin {
  color: #0077B5;
}

.github {
  color: black;
}

.twitter {
  color: #55acee;
}

.collab {
  font-family: 'Satisfy', cursive;
  color: white;
}

.pro-link {
  color: #34b7a9;
}

